@tailwind base;
@tailwind components;
@tailwind utilities;


/* html {
  font-family: 'Google Sans', 'Inter', 'Roboto', 'Helvetica', 'Arial', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif;
} */

a.list-link.active {
  border-left: 3px solid #2DD4BF;
}

a.navbar-link.active {
  border-bottom: 3px solid white;
}

.slide-left {
  animation-name: slideLeft;
  animation-duration: 0.75s;
}

@keyframes slideLeft {
  0% {
    transform: translateX(200px);
  }

  100% {
    transform: translateX(0);
  }
}
