@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  /* font-family: "Gill Sans", 'Inter', 'Roboto', 'Helvetica', 'Arial', 'Segoe UI', 'Helvetica Neue', system-ui, sans-serif; */
  /* font-size: 16px; */
}

a.list-link.active {
  border-left: 3px solid #2DD4BF;
}

a.navbar-link.active {
  border-bottom: 3px solid white;
}
a.breadcrumb-link.active {
  border-bottom: 3px solid #2DD4BF;
}


.slide-left {
  animation-name: slideLeft;
  animation-duration: 0.75s;
}

@keyframes slideLeft {
  0% {
    transform: translateX(200px);
  }

  100% {
    transform: translateX(0);
  }
}


/* 320px — 480px: Mobile devices */
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}


/* 481px — 768px: iPads, Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  html {
    font-size: 14.5px;
  }
}

/* 769px — 1024px: Small screens, laptops */
/* 1025px — 1200px: Desktops, large screens */
@media screen and (min-width: 769px) and (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}

/* 1201px and more —  Extra large screens, TV */
@media screen and (min-width: 1201px) {
  html {
    font-size: 16px;
  }
}
